@import '../SelectionBlock.module.scss';
.train {
   display: grid;
   background-color: var(--color-quinary-light);
   min-height: 12.5rem;
   align-items: center;
   grid-template-columns: 1fr 2fr 1fr;

   .left {
      display: flex;
      align-items: center;
      padding-left: 3.5rem;
      .img {
         width: 3rem;
         height: 3rem;
         margin-right: 3rem;
      }
      .info {
         @include flexCenter;
         .train-name {
            @include font(
               var(--fw-5),
               var(--fs-24),
               var(--fh-28),
               var(--color-bars)
            );
            text-transform: uppercase;
         }
         .departure-city,
         .arrival-city {
            @include font(
               var(--fw-4),
               var(--fs-16),
               var(--fh-19),
               var(--color-main-dark)
            );
            text-transform: capitalize;
         }
         .departure-arrow {
            margin-left: 0.5rem;
         }
      }
   }
   .middle {
      padding: 2.8rem 3.6rem 2.6rem;
      height: 100%;
      border-left: 0.1rem solid var(--color-main-light);
      border-right: 0.1rem solid var(--color-main-light);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info {
         @include flexCenter;
         .time {
            @include font(
               var(--fw-7),
               var(--fs-24),
               var(--fh-28),
               var(--color-black)
            );
         }
         .city {
            @include font(
               var(--fw-4),
               var(--fs-18),
               var(--fh-21),
               var(--color-main-dark)
            );
            text-transform: capitalize;
         }
         .station {
            @include font(
               var(--fw-4),
               var(--fs-16),
               var(--fh-19),
               var(--color-grey)
            );
         }
      }
   }
   .right {
      display: flex;
      align-items: center;
      padding-left: 3.5rem;
      .img {
         margin-right: 1rem;
      }
      .info {
         @include flexCenter;
         > span {
            @include font(
               var(--fw-4),
               var(--fs-18),
               var(--fh-21),
               var(--color-main-dark)
            );
         }
      }
   }
}

@media only screen and (min-width: 1152px) and (max-width: 1300px) {
   .train {
      .left {
         padding-left: 1.5rem;
         .img {
            margin-right: 1rem;
         }
      }
      .middle {
         padding: 2.8rem 1.6rem 2.6rem;
      }
      .right {
         padding-left: 1.5rem;
      }
   }
}
