@import '../../../../scss/mixins';

.icons {
   display: flex;
   justify-content: flex-end;

   &__content {
      width: 2.1rem;
      height: 2.1rem;
      margin-right: 1rem;
   }
}
.button {
   @include font(
      var(--fw-7),
      var(--fs-24),
      var(--fh-28),
      var(--color-main-light)
   );
   padding: 1rem 2rem;
   background-color: var(--color-yellow-orange);
   border: 1px solid var(--color-yellow-orange);
   border-radius: 0.5rem;
   margin-top: 2rem;
   cursor: pointer;
   &:hover,
   &:focus {
      filter: var(--filter);
   }
   &:active {
      background-color: transparent;
      color: var(--color-yellow-orange);
   }
}
