@import '../../../../scss/mixins';

.passengerType {
   @include font(
      var(--fw-4),
      var(--fs-18),
      var(--fh-21),
      var(--color-secondary-light)
   );
   text-transform: capitalize;
}
.sum {
   @include font(
      var(--fw-7),
      var(--fs-24),
      var(--fh-28),
      var(--color-main-light)
   );
   display: flex;
   .currency {
      margin-left: 0.5rem;
   }
}
