@import '../../../../scss/mixins';

@mixin info {
   &__time {
      @include font(
         var(--fw-7),
         var(--fs-24),
         var(--fh-28),
         var(--color-black)
      );
   }
   &__city {
      @include font(
         var(--fw-4),
         var(--fs-18),
         var(--fh-21),
         var(--color-main-dark)
      );
      text-transform: capitalize;
   }
   &__station {
      @include font(var(--fw-4), var(--fs-16), var(--fh-19), var(--color-grey));
   }
}

.direction {
   display: flex;
   align-items: baseline;
   justify-content: space-evenly;
   padding-bottom: 6.5rem;

   &__from {
      display: flex;
      flex-direction: column;
      width: 16.5rem;
      margin-right: 2rem;
      .from {
         @include info;
      }
   }
   &__time {
      display: flex;
      flex-direction: column;
      .time {
         &__time {
            @include font(
               var(--fw-4),
               var(--fs-18),
               var(--fh-21),
               var(--color-bars-light)
            );
         }
         &__arrow {
            width: 3rem;
            height: 2rem;
         }
      }
   }
   &__to {
      display: flex;
      flex-direction: column;
      width: 16.5rem;
      margin-left: 2rem;
      .to {
         @include info;
      }
   }
}
