@import '../../../scss/mixins';

.nav-bar {
   display: flex;
   @include font-no-color(var(--fw-3), var(--fs-30), var(--fh-35));
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
   background-color: var(--color-main-dark);

   &__link {
      color: var(--color-main-light);
      margin: 0 4rem;
      line-height: 3.5rem;
      padding-bottom: 1rem;
      cursor: pointer;
      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         color: var(--color-hover);
      }
   }
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
   .nav-bar {
      padding: 2.5rem 6rem;
   }
}

@media only screen and (min-width: 1800px) {
   .nav-bar {
      padding: 2.5rem 26rem;
   }
}

@media only screen and (max-width: 1199px) {
   .nav-bar {
      justify-content: space-around;
   }
}
