@import '../../../scss/_mixins.scss';

.filters {
   @include font(var(--fw-4), var(--fs-18), var(--fh-21), var(--color-grey));

   display: flex;
   justify-content: space-between;
   align-items: baseline;

   margin-bottom: 5rem;

   .sort {
      display: flex;
      align-items: baseline;
   }
   .show {
      &__title {
         margin-right: 1rem;
      }
      &__amount {
         margin-right: 1rem;
      }
   }
}
