@import '../../../../../../scss/mixins';

.seatsTotal {
   color: var(--color-black);
   margin-left: 1rem;
}

.details {
   @include font(var(--fw-4), var(--fs-24), var(--fh-28), var(--color-black));
   text-transform: capitalize;

   .seatsNumber {
      font-weight: var(--fw-7);
      margin-left: 1rem;
   }
   &:nth-child(n):not(:last-child) {
      margin-bottom: 2.5rem;
   }
}
