.card {
   display: flex;
   background: var(--color-main-light);
   border: 0.1rem solid var(--color-bars-light);
   box-shadow: var(--border-shadow-trains-card);
   &:not(:last-child) {
      margin-bottom: 5rem;
   }

   &__left {
      width: 19.7rem;
      padding: 3rem 2.3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color-quaterniary-light);
   }
   &__middle {
      width: 48rem;
      border-right: 0.1rem dashed var(--color-secondary-light);
      padding: 5rem 3.5rem 1.5rem 4rem;
   }
   &__right {
      width: 28.3rem;
      padding: 4rem 2.2rem 2.5rem 2.7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

@media only screen and (min-width: 1150px) and (max-width: 1250px) {
   .card {
      &__left {
         width: 14.7rem;
         padding: 3rem 0;
      }
      &__middle {
         width: 42rem;
         border-right: 0.1rem dashed var(--color-secondary-light);
         padding: 5rem 0.5rem 0.5rem 0.5rem;
      }
      &__right {
         width: 24.3rem;
         padding: 4rem 0.2rem 2.5rem 0.7rem;
      }
   }
}
@media only screen and (min-width: 1251px) and (max-width: 1399px) {
   .card {
      &__left {
         width: 16.7rem;
         padding: 3rem 0.8rem;
      }
      &__middle {
         width: 45rem;
         border-right: 0.1rem dashed var(--color-secondary-light);
         padding: 5rem 2.5rem 2.5rem 2rem;
      }
      &__right {
         width: 28.3rem;
         padding: 4rem 2.2rem 2.5rem 2.7rem;
      }
   }
}
