@import '../../scss/mixins';
.about {
   padding: 15rem 2rem 10rem 0;
   min-width: 100%;
   min-height: 51rem;
   background: var(--color-main-light);
   color: var(--color-main-dark);
   &__title {
      @include title;
   }
   &__text {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      border-left: solid 0.9rem var(--color-yellow-orange);

      & span {
         padding-left: 1.8rem;
         @include font-no-color(var(--fw-4), var(--fs-24), var(--fh-28));
      }

      & span:not(:last-child) {
         margin-bottom: 2.8rem;
      }
   }
}

@media only screen and (min-width: 1400px) and (max-width: 1919px) {
   .about {
      padding-right: 20rem;
   }
}

@media only screen and (min-width: 1920px) {
   .about {
      padding-left: 25rem;
      padding-right: 48rem;
   }
}
