@import '../../../../scss/mixins';

.coaches {
   &-first {
      border-bottom: 0.1rem dashed var(--color-bars-light);
   }
   &-middle {
      padding-top: 3rem;
      border-bottom: 0.1rem dashed var(--color-bars-light);
   }
   &-last {
      padding-top: 3rem;
   }
}
.noCoach {
   text-align: center;
   margin-top: 3rem;
   @include font(
      var(--fw-7),
      var(--fs-24),
      var(--fh-28),
      var(--color-yellow-orange)
   );
}
