@import '../SelectionBlock.module.scss';
.coaches {
   background-color: var(--color-tickets);
   width: 100%;
   padding: 0.4rem 1.7rem 0.4rem 3.3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .text {
      @include font(
         var(--fw-4),
         var(--fs-16),
         var(--fh-19),
         var(--color-main-dark)
      );
   }
   .available {
      display: flex;
      align-items: center;
      .title {
         margin-right: 0.5rem;
      }
      .coachNames {
         @include font(
            var(--fw-7),
            var(--fs-24),
            var(--fh-28),
            var(--color-black)
         );
         margin-right: 0.5rem;
         &-active {
            color: var(--color-main-light);
         }
      }
      .error {
         color: var(--color-error);
      }
   }
}
