@import '../../scss/mixins';
@import '../PassengersSelection/PassengersSelection.module.scss';

.card {
   margin-bottom: 5rem;
   background-color: var(--color-main-light);
   border: 0.1rem solid var(--color-grey);
   box-shadow: var(--border-shadow-trains-card);

   .header {
      @include font(
         var(--fw-4),
         var(--fs-30),
         var(--fh-35),
         var(--color-main-dark)
      );

      width: 100%;
      @include padding;
      border-bottom: 0.1rem solid var(--color-grey);
   }
   .info {
      display: flex;
      align-items: flex-end;
      .left {
         width: 67.7rem;
         border-right: 0.1rem dashed var(--color-secondary-light);
         .payment {
            @include font(
               var(--fw-4),
               var(--fs-24),
               var(--fh-28),
               var(--color-main-dark)
            );
            padding: 4.5rem 3.5rem 7.5rem;
         }
      }
      .right {
         width: 28.3rem;
         padding: 2.5rem;
         .sum {
            display: flex;
            justify-content: space-between;
            @include font(
               var(--fw-4),
               var(--fs-30),
               var(--fh-35),
               var(--color-main-dark)
            );
            .amount {
               font-weight: var(--fw-7);
            }
            .currency {
               margin-left: 1rem;
               margin-bottom: 0.7rem;
            }
         }
      }
   }
}

.buttonForward {
   @include buttonForward;
}

.buttonEdit {
   margin-top: 2rem;
   @include transperrentBlackButton(0.5rem, 6rem);
}

.alert {
   @include font(
      var(--fw-4),
      var(--fs-24),
      var(--fh-28),
      var(--color-main-dark)
   );
   margin-top: 2rem;
   text-align: center;
}

@media only screen and (min-width: 1150px) and (max-width: 1250px) {
   .card {
      .info {
         .left {
            width: 56.7rem;
         }
         .right {
            width: 24.3rem;
            padding-left: 1rem;
            padding-right: 1rem;
         }
      }
   }
}
@media only screen and (min-width: 1251px) and (max-width: 1399px) {
   .card {
      .info {
         .left {
            width: 62.7rem;
         }
      }
   }
}
