@import '../../../scss/mixins.scss';
@mixin flexCenter {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

@mixin title {
   @include font(
      var(--fw-7),
      var(--fs-30),
      var(--fh-35),
      var(--color-main-dark)
   );
   padding: 2.7rem 0 2.5rem 2rem;
}

.card {
   background: var(--color-main-light);
   border: 0.1rem solid var(--color-bars-light);
   box-shadow: var(--box-shadow-selection-block);
   margin-bottom: 3rem;
   &__change-train {
      display: flex;
      padding: 4rem 2rem 3rem;

      .img {
         width: 7.6rem;
         height: 6rem;
         margin-right: 1rem;
      }
      > button {
         @include transperrentBlackButton;
      }

      &-arrival {
         justify-content: flex-end;
      }
   }
}
