@import '../../scss/mixins';
.how {
   padding: 6rem 2rem 10rem 0;
   min-width: 100%;
   min-height: 62.5rem;
   max-height: 62.5rem;
   background: var(--color-main-light);
   color: var(--color-main-light);
   border-top: solid 5rem var(--color-yellow-orange);
   background-image: url('./background-middle.png');
   &__wrapperTop {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 10rem;
   }
   &__title {
      @include title;
   }
   &__btn {
      @include button-white;
      @include font-no-color(var(--fw-7), var(--fs-24), var(--fh-28));
      padding: 1.5rem 7.5rem;
      margin-left: 3.3rem;
   }
   &__steps {
      display: flex;
      justify-content: space-between;
   }
}

@media only screen and (min-width: 1500px) and (max-width: 1919px) {
   .how {
      padding-right: 10rem;
      padding-left: 10rem;
      &__steps {
         padding-left: 23rem;
         padding-right: 19rem;
      }
   }
}

@media only screen and (min-width: 1920px) {
   .how {
      padding-left: 25rem;
      padding-right: 27rem;
      &__steps {
         padding-left: 23rem;
         padding-right: 19rem;
      }
   }
}
