@import '../../scss/mixins';

@mixin input-group {
   display: flex;
   @include font-no-color(var(--fw-4), var(--fs-18), var(--fh-21));
   justify-content: space-between;
   align-items: baseline;
}

@mixin img {
   > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

@mixin input($width, $height) {
   min-width: $width;
   max-width: $width;
   min-height: $height;
   max-height: $height;
   padding: 1.9rem 7rem 2rem 2.1rem;
   border-radius: 0.3rem;
   background-color: var(--color-main-light);
   &-invalid {
      border: 0.3rem solid var(--color-error-light);
   }
}

@mixin inputs(
   $width,
   $height,
   $top,
   $right,
   $transform,
   $InpWidth,
   $InpHeight
) {
   position: relative;
   &__input {
      @include input($InpWidth, $InpHeight);
      text-transform: $transform;
      &::placeholder {
         color: var(--color-secondary-light);
      }
   }
   &__icon {
      position: absolute;
      top: $top;
      right: $right;
      width: $width;
      height: $height;
      @include img;
   }
}
@mixin input-width-tablet {
   min-width: 27.5rem;
   max-width: 27.5rem;
}

@mixin media {
   @include input-width-tablet;
   &__input {
      @include input-width-tablet;
   }
}

@mixin grid($columns, $padding) {
   padding-top: 1rem;
   display: grid;
   grid-template-rows: repeat(2, 13rem);
   grid-template-columns: $columns;
   grid-template-areas:
      'direction btn'
      'date btn';

   .inputGroup-dates,
   .inputGroup-directions {
      font-weight: var(--fw-4);
   }

   .inputGroup-directions {
      grid-area: direction;
   }
   .inputGroup-dates {
      grid-area: date;
   }
   .button {
      grid-area: btn;
   }
   &-wide {
      padding: 0 $padding;
   }
   .button {
      margin: auto;
      margin-right: auto;
   }
}

.wrapper {
   .form {
      background-color: var(--color-search-block);
      min-width: 100%;
      min-height: 100%;
      padding: 8rem 2.4rem 5rem 2.1rem;

      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-wide {
         padding: 2.5rem 4rem 5rem 4rem;
      }

      .inputGroup {
         margin-bottom: 2rem;
         min-width: 68.5rem;

         &-wide {
            margin-right: 0.1rem;
         }
         &-regular {
            margin-bottom: 6rem;
         }
         &__header {
            @include font(
               var(--fw-3),
               var(--fs-30),
               var(--fh-35),
               var(--color-main-light)
            );
            margin-bottom: 2rem;
            text-transform: capitalize;
            &-invalid {
               color: var(--color-error-light);
            }
         }
         &__directions {
            @include input-group;
            align-items: center;
            .direction {
               @include inputs(
                  2.1rem,
                  3rem,
                  1.5rem,
                  1.7rem,
                  capitalize,
                  32rem,
                  6rem
               );
            }
            .buttonArrows {
               width: 2.4rem;
               height: 2.4rem;
               border: 0;
               position: relative;
               cursor: pointer;
               @include img;
            }
         }
         &__dates {
            @include input-group;
            .date {
               @include inputs(
                  2.1rem,
                  3rem,
                  1.5rem,
                  1.7rem,
                  capitalize,
                  32rem,
                  6rem
               );
            }
         }
      }
      .button {
         color: var(--color-main-dark);
         margin-top: 1.8rem;
         margin-bottom: auto;
         justify-self: flex-end;
         align-self: flex-end;
         margin-left: auto;

         @include button-gold;
      }
   }
}

.regular {
   min-width: 73rem;
   max-width: 73rem;
   height: 56.5rem;
}

.wide {
   min-width: 149rem;
   max-width: 149rem;
   height: 32rem;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (min-width: 900px) and (max-width: 1151px) {
   .wrapper {
      .form {
         padding-right: 0.2rem;
         padding-left: 0.3rem;

         .inputGroup {
            min-width: 59rem;
            &__directions {
               .direction {
                  @include media;
               }
            }
            &__dates {
               .date {
                  @include media;
               }
            }
         }
         .button {
            padding: 1.7rem 4rem;
         }

         &-wide {
            @include grid(60% 30%, 0 1.5rem);
         }
      }
   }
   .regular {
      min-width: 60rem;
      max-width: 60rem;
   }
}

@media only screen and (min-width: 1152px) and (max-width: 1299px) {
   .wrapper {
      .form {
         &-wide {
            @include grid(68.5rem 1fr, 1.5rem);
         }
      }
   }
   .wide {
      min-width: 100%;
      max-width: 100%;
   }
}
@media only screen and (min-width: 1300px) and (max-width: 1419px) {
   .wrapper {
      .form {
         justify-content: space-between;
         &-wide {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
            .inputGroup {
               min-width: 59rem;
               max-width: 59rem;
               &__directions {
                  .direction {
                     @include media;
                  }
               }
               &__dates {
                  .date {
                     @include media;
                  }
               }
            }
            .button {
               padding: 1.7rem 4.5rem;
            }
         }
      }
   }
   .wide {
      min-width: 100%;
      max-width: 100%;
   }
}

@media only screen and (min-width: 1420px) and (max-width: 1500px) {
   .wrapper {
      .form {
         justify-content: space-between;
         &-wide {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
         }
      }
   }
   .wide {
      min-width: 142rem;
      max-width: 142rem;
   }
}
