@import '../../../scss/mixins';

@mixin box {
   width: 8.5rem;
   height: 7.5rem;
   border: 0.2rem solid var(--color-bars-light);
   padding: 2rem;
   border-radius: 0.5rem;
   @include font(var(--fw-7), var(--fs-30), var(--fh-35), var(--color-grey));
}

.pagination {
   display: flex;
   justify-content: flex-end;
   .ant-pagination {
      &-item {
         background-color: transparent;
         @include box;
         > a {
            text-decoration: none;
            color: var(--color-grey);
         }
         &-active {
            background: var(--color-yellow-orange);

            > a {
               color: var(--color-main-light);
            }
         }
         &-link {
            background-color: transparent;
         }
      }
      &-prev,
      &-next {
         @include box;
      }
      &-item-link {
         border: none;
      }
   }
}
