.right-part .ant-popover {
   background: var(--color-popover);
   box-shadow: var(--box-shadow-popover);
   padding: 0;

   &-inner {
      border-radius: 0.5rem;
      &-content {
         width: 27.6rem;
         background: var(--color-popover);
         padding: 2.5rem 1.7rem 2.1rem 3.2rem;
      }
   }
}
