@import '../../../../../../scss/mixins';

.item {
   display: flex;
   align-items: baseline;
   justify-content: space-around;
   @include font-no-color(var(--fw-4), var(--fs-16), var(--fh-19));
   &:nth-child(n):not(:last-child) {
      margin-bottom: 2rem;
   }
   .type {
      color: var(--color-bars);
      width: 6.5rem;
   }
   .seats {
      font-weight: var(--fw-5);
      color: var(--color-yellow-orange);
   }
   .price {
      display: flex;
      align-items: baseline;

      &__wrapper {
         display: flex;
         align-items: baseline;
         justify-content: flex-end;
         .price {
            &__start {
               color: var(--color-grey);
               margin-right: 0.5rem;
            }
            &__number {
               @include font(
                  var(--fw-7),
                  var(--fs-24),
                  var(--fh-28),
                  var(--color-secondary-dark)
               );
               margin-right: 0.5rem;
            }
            &__currency {
               width: 1.6rem;
               height: 1.6rem;
            }
         }
      }
   }
}
