@import '../../../../scss/mixins';
.img {
   width: 8.6rem;
   height: 8.6rem;
   margin: 0 auto;
}
.train-name {
   @include font(var(--fw-5), var(--fs-24), var(--fh-28), var(--color-bars));
   text-transform: uppercase;
   text-align: center;
   padding: 1.7rem 0;
}
.departure-city,
.arrival-city {
   @include font(
      var(--fw-4),
      var(--fs-16),
      var(--fh-19),
      var(--color-main-dark)
   );
   text-align: left;
   text-transform: capitalize;
}
.departure-arrow {
   margin-left: 0.5rem;
}
