@import '../../scss/mixins';

.last-tickets {
   margin-top: 9.5rem;
   &__header {
      @include font(
         var(--fw-5),
         var(--fs-30),
         var(--fh-35),
         var(--color-black)
      );
      text-transform: uppercase;
      margin-bottom: 2.6rem;
   }

   &__error {
      display: flex;
      align-items: center;
      justify-content: center;
      @include card;
   }
}
